APP_SECRET=1da933eaab7f27548ee832b2f4223fed

APP_WEB_URL=http://localhost:3000
APP_API_URL=http://localhost:3333

MAIL_DRIVER=ethereal

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

STORAGE_DRIVER=disk
